.bot-btn {
    float: right;
    position: sticky;
    bottom: 2px;
    right: 10px;
    background-color: transparent;
    border-color: transparent;

    &.bot-btn:hover {
        border-radius: 50px;
        background-color: rgba(250, 216, 95, 0.397);
        border-color: transparent;
        transform: scale(1.2);
        transition: all 3s;
    }

    &.bot-btn:active {
        background-color: rgba(134, 233, 218, 0.397);
        border-radius: 50px;
    }
    .icon-bot {
        background: rgba(51,132,241,0.57);
        background: radial-gradient(circle farthest-side at bottom center, rgba(51, 133, 241, 0.761) 0%, #9487da 80%);
        background: -webkit-radial-gradient(circle farthest-side at bottom center, rgba(51,132,241,0.57) 0%, #644bf3 80%);
        background: -moz-radial-gradient(circle farthest-side at bottom center, rgba(51,132,241,0.57) 0%, #644bf3 80%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 2em;
    }
}

.modal {
    --bs-modal-bg: rgba(125, 125, 125, 0.837);
}